doctype html
html
  include ../layout/_header.pug
  include ../layout/_navbar.pug
  body
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/jquery.dataTables.min.js")
    link(rel='stylesheet' type='text/css' href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/css/dashboard.css')
    .container
      .row#jobs 
        table#example.display
          thead
            tr
              th.text-center Name
              th.text-center Description
              th.text-center Status
              th.text-center Info
              th.text-center Error
              th.text-center Created At
          tbody
            each job in jobs
              tr
                td.text-center !{job.name}
                td.text-center !{job.description}
                - var className = '';
                - if(job.status=='IN_QUEUE') clasName='text-primary';
                - if(job.status=='IN_PROCESS') clasName='text-warning';
                - if(job.status=='FAILED') clasName='text-danger';
                - if(job.status=='COMPLETE') clasName='text-success';
                td.text-center(class=clasName) !{job.status}
                td.text-center
                  code !{JSON.stringify(job.info)}
                td.text-center !{job.error}
                td.text-center !{job.createdAt.toLocaleString()}
          tfoot
            tr
              th.text-center Name
              th.text-center Description
              th.text-center Status
              th.text-center Info
              th.text-center Error
              th.text-center Created At
    script(src="/vendor/js/dashboard.js")