doctype html
html
  include ../layout/_header.pug
  include ../layout/_navbar.pug
  body
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/jquery.dataTables.min.js")
    link(rel='stylesheet' type='text/css' href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/css/jquery.dataTables.min.css')
    link(rel='stylesheet' type='text/css' href='/vendor/css/dashboard.css')
    .container
      .row#jobs 
        table#example.display
          thead
            tr
              th Name
              th Description
              th Status
              th Info
              th Created At
          tbody
            each job in jobs
              tr
                td !{job.name}
                td !{job.description}
                td !{job.status}
                td
                  code !{JSON.stringify(job.info)}
                td !{job.createdAt.toLocaleString()}
          tfoot
            tr
              th Name
              th Description
              th Status
              th Info
              th Created At
    script(src="/vendor/js/dashboard.js")